# ===============================
# STM32CubeIDE
# ===============================
Debug/
Release/
build/
.settings/
.metadata/
*.launch
*.ioc

# ===============================
# Build Artifacts
# ===============================
*.o
*.d
*.elf
*.bin
*.map
*.hex
*.su
*.cyclo
*.log

# ===============================
# Libraries / Executables
# ===============================
*.a
*.lib
*.dll
*.so
*.exe
*.out
*.app

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
